<div id="<%= dom_id category %>">
  <div class="flex flex-row my-5">
    <p class="block font-medium mr-1">Title:</p>
    <%= category.title %>
  </div>

  <div class="flex justify-evenly items-center">
    <% if action_name != "show" %>
      <%= link_to "View", category, class: "rounded-lg py-3 px-5 bg-blue-100 inline-block font-medium hover:bg-blue-200" %>
      <%= link_to "Edit", edit_category_path(category), class: "rounded-lg py-3 ml-2 px-5 bg-blue-100 inline-block font-medium hover:bg-blue-200" %>
    <% end %>
  </div>
</div>
